<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Report_DO.Properties.Settings.PMSReportsConnectionString" connectionString="Data Source=SURFACE\SQLEXPRESS;Initial Catalog=PMSReports;Persist Security Info=False;User ID=sa;Password=root@123;Connect Timeout=1800" providerName="System.Data.SqlClient" />
    <add name="PMSReportsEntities" connectionString="metadata=res://*/OperateReportView.csdl|res://*/OperateReportView.ssdl|res://*/OperateReportView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SURFACE\SQLEXPRESS;initial catalog=PMSReports;persist security info=False;user id=sa;password=root@123;connect timeout=1800;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>