<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Report_DO.Properties.Settings.PMSReportsConnectionString"
            connectionString="Data Source=SURFACE\SQLEXPRESS;Initial Catalog=PMSReports;Persist Security Info=False;User ID=sa;Password=root@123;Connect Timeout=1800"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>