@model IEnumerable<Report_DO.MasterReport>

@*@model Report_DO.ReportIndexData*@
@{
    ViewBag.Title = "Report Page";    
    
 }

 <div class="container">
        <div class="row"><h2>Performance Management Report</h2></div>
 </div>

<div id="layout" style="width: 100%; height: 400px;">
    <div id="layout" style="width: 100%;height:400px;">

    </div>

</div>

@section scripts
{
  <script type="text/javascript">
      $(function () {
          var pstyle = 'border: 1px solid #dfdfdf; padding: 5px;';
          $('#layout').w2layout({
              name: 'layout',
              padding: 4,
              panels: [                  
                  { type: 'left', size: 200, resizable: true, style: pstyle },
                  { type: 'main', style: pstyle }                  
              ]
              
          });
      });

     
  </script>    
}



