@model Report_DO.OperationView
@{
    ViewBag.Title = "Operation";
}

<h2>Operation</h2>

@using (Html.BeginForm())
{
   
    <p>
        <input id="StartDate" type="text" />
        <input id="EndDate" type="text" />
        <input type="submit" value="Go" />
    </p>
    
}

<div class="container-body">
    <table class="table">
        <tr>
            <th>
                KPI Name
            </th>
            <th>
                @DateTime.Now.Date
            </th>
        </tr>
        <tr>
            <td>
                CSSR
            </td>
        </tr>
        <tr>
            <td>
                TCHCongestion
            </td>
        </tr>
        <tr>
            <td>
                SDCCHCongestion
            </td>
        </tr>
        <tr>
            <td>
                SDCDR
            </td>
        </tr>
        <tr>
            <td>
                HOSR
            </td>
        </tr>


    </table>
</div>